* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #96e0da;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  magin: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
.AMUSEMENTPARK {
  height: 100%;
  width: 100%;
}
h1 {
  font-family: "Amatic SC", cursive;
  font-size: 60px;
  text-align: center;
}
.sky {
  background-color: #fff;
  border-radius: 50px;
  position: relative;
}
.sun {
  border-radius: 50px;
  content: "";
  position: absolute;
  top: 5%;
  right: 15%;
  height: 65px;
  width: 65px;
  background: #ffd103;
  z-index: -5;
}
.a {
  z-index: -1;
  top: 20px;
  left: 5%;
  width: 80px;
  height: 25px;
  box-shadow: inset 10px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: a 60s infinite alternate linear;
          animation: a 60s infinite alternate linear;
}
.a:after {
  content: "";
  position: absolute;
  top: -12px;
  left: 10px;
  width: 30px;
  height: 30px;
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
}
.a:before {
  content: "";
  position: absolute;
  top: -20px;
  left: 30px;
  width: 40px;
  height: 40px;
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
}
.b {
  z-index: -2;
  top: 25px;
  left: 75%;
  width: 120px;
  height: 40px;
  box-shadow: inset 20px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: b 60s infinite alternate linear;
          animation: b 60s infinite alternate linear;
}
.b:after {
  content: "";
  position: absolute;
  top: -15px;
  left: 15px;
  width: 45px;
  height: 45px;
  box-shadow: inset 10px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
}
.b:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 40px;
  width: 60px;
  height: 60px;
  box-shadow: inset 10px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
}
.c {
  z-index: -3;
  top: 9px;
  left: 20px;
  width: 100px;
  height: 35px;
  box-shadow: inset 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: c 60s infinite alternate linear;
          animation: c 60s infinite alternate linear;
}
.c:after {
  content: "";
  position: absolute;
  top: -20px;
  left: 10px;
  width: 40px;
  height: 40px;
  box-shadow: inset 8px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
}
.c:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 35px;
  width: 50px;
  height: 50px;
  box-shadow: inset 8px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 50%;
}
@-webkit-keyframes a {
  100% {
    left: 90%;
  }
}
@keyframes a {
  100% {
    left: 90%;
  }
}
@-webkit-keyframes b {
  100% {
    left: 25%;
  }
}
@keyframes b {
  100% {
    left: 25%;
  }
}
@-webkit-keyframes c {
  100% {
    left: 60%;
  }
}
@keyframes c {
  100% {
    left: 60%;
  }
}
.rainbow {
  position: absolute;
  width: 300px;
  height: 150px;
  bottom: 55%;
  left: 40%;
  border-radius: 150px 150px 0 0;
  opacity: 0;
  z-index: -10;
}
.rainbow:hover {
  -webkit-animation: ease-in-out;
          animation: ease-in-out;
  opacity: 1;
}
.red {
  position: absolute;
  width: 300px;
  height: 150px;
  bottom: 0px;
  left: 0%;
  background: red;
  border-radius: 150px 150px 0 0;
  z-index: -10;
}
.orange {
  position: absolute;
  width: 280px;
  height: 140px;
  bottom: 0px;
  left: 10px;
  background: orange;
  border-radius: 150px 150px 0 0;
  z-index: -9;
}
.yellow {
  position: absolute;
  width: 260px;
  height: 130px;
  bottom: 0px;
  left: 10px;
  background: yellow;
  border-radius: 150px 150px 0 0;
  z-index: -8;
}
.green {
  position: absolute;
  width: 240px;
  height: 120px;
  bottom: 0px;
  left: 10px;
  background: green;
  border-radius: 150px 150px 0 0;
  z-index: -7;
}
.blue {
  position: absolute;
  width: 220px;
  height: 110px;
  bottom: 0px;
  left: 10px;
  background: blue;
  border-radius: 150px 150px 0 0;
  z-index: -6;
}
.purple {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0px;
  left: 10px;
  background: purple;
  border-radius: 150px 150px 0 0;
  z-index: -5;
}
.origin {
  position: absolute;
  width: 180px;
  height: 90px;
  bottom: 0px;
  left: 10px;
  background: #96e0da;
  border-radius: 150px 150px 0 0;
  z-index: -4;
}
.FERRISWHEEL,
.wheel {
  bottom: 100%;
  border: gray;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.FERRISWHEEL {
  position: absolute;
  bottom: 0%;
  right: 5%;
  height: 200px;
  width: 150px;
}

.wheel_wrap {
  position: absolute;
  -webkit-animation: wheel_rotate 40s infinite linear;
          animation: wheel_rotate 40s infinite linear;
}

.wheel:before {
  content: "";
  height: 50px;
  width: 50px;
  background: #888;
  position: absolute;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  z-index: 1;
}

.wheel:after {
  content: "";
  width: 16px;
  height: 16px;
  background: #683c10;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  border-radius: 50%;
  border: 4px solid #f3ae34;
  z-index: 1;
}

.wheel span:nth-child(1):before {
  content: "";
  border-bottom: 2px solid #babcba;
  position: absolute;
  top: 0;
  left: 0;
  width: 145px;
  top: 50%;
  left: 6px;
}

.wheel span:nth-child(1):after {
  content: "";
  border-right: 2px solid #babcba;
  position: absolute;
  top: 0;
  left: 0;
  height: 145px;
  top: 6px;
  left: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.wheel span:nth-child(2):before {
  content: "";
  border-right: 2px solid #babcba;
  position: absolute;
  top: 0;
  left: 0;
  height: 145px;
  top: 5px;
  left: 50%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.wheel span:nth-child(2):after {
  content: "";
  border-right: 2px solid #babcba;
  position: absolute;
  top: 0;
  left: 0;
  height: 145px;
  top: 6px;
  left: 50%;
}

div.stand:before,
div.stand:after {
  content: "";
  position: absolute;
  border-right: 4px solid #f3ae34;
  height: 120px;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  top: 82px;
  left: 70px;
  margin-left: -15px;
}

div.stand:after {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  margin-left: 23px;
}

.stand span {
  position: absolute;
  height: 10px;
  background: #683c10;
  width: 100px;
  top: 195px;
  left: 50%;
  margin-left: -48px;
  z-index: 1;
}

@-webkit-keyframes wheel_rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel_rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.buckets {
  position: absolute;
  border: 6px solid #fff;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  z-index: 1;
}

.buckets div {
  position: absolute;
  -webkit-animation: bucket_rotate 40s infinite linear;
          animation: bucket_rotate 40s infinite linear;
  top: 50%;
  left: 50%;
  margin-top: 11px;
  margin-left: -13px;
}

.buckets div:before {
  content: "";
  height: 15px;
  left: 6px;
  border-right: 1px solid #888;
  position: absolute;
  top: -12px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}

.buckets div:after {
  content: "";
  height: 15px;
  border-right: 1px solid #888;
  position: absolute;
  right: 6px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  top: -12px;
}

.buckets span {
  display: inline-block;
  height: 20px;
  width: 20px;
  background: yellowgreen;
  border-radius: 50%;
  position: relative;
}
.buckets span:before {
  content: "";
  display: inline-block;
  height: 6px;
  width: 12px;
  background: white;
  border-radius: 100% 100% 0 0;
  position: absolute;
  left: 3px;
  top: 4px;
}
@-webkit-keyframes bucket_rotate {
  0% {
    -webkit-transform: rotate(0) translateX(75px) rotate(0);
            transform: rotate(0) translateX(75px) rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(75px) rotate(-360deg);
            transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}
@keyframes bucket_rotate {
  0% {
    -webkit-transform: rotate(0) translateX(75px) rotate(0);
            transform: rotate(0) translateX(75px) rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg) translateX(75px) rotate(-360deg);
            transform: rotate(360deg) translateX(75px) rotate(-360deg);
  }
}
.buckets div:nth-child(2) {
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
}

.buckets div:nth-child(3) {
  -webkit-animation-delay: -9.9s;
          animation-delay: -9.9s;
}

.buckets div:nth-child(4) {
  -webkit-animation-delay: -15s;
          animation-delay: -15s;
}

.buckets div:nth-child(5) {
  -webkit-animation-delay: -20s;
          animation-delay: -20s;
}

.buckets div:nth-child(6) {
  -webkit-animation-delay: -25s;
          animation-delay: -25s;
}

.buckets div:nth-child(7) {
  -webkit-animation-delay: -30s;
          animation-delay: -30s;
}

.buckets div:nth-child(8) {
  -webkit-animation-delay: -35s;
          animation-delay: -35s;
}
.Rollercoaster {
  position: absolute;
  width: 100%;
  height: 250px;
  bottom: 20%;
  left: 0px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  z-index: -11;
}
.track {
  width: 100%;
  height: 100%;
  position: absolute;
}
.track:before,
.track:after {
  content: "";
  position: absolute;
  bottom: 0;
}
.track:before {
  width: inherit;
  height: 10px;
  background-color: white;
}
.track:after {
  box-sizing: border-box;
  width: 250px;
  height: inherit;
  border: 10px solid white;
  border-radius: 50%;
  left: calc(50% - 135px);
}
.track span {
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
  bottom: 10px;
  left: 0%;
  -webkit-animation: 4s linear infinite;
          animation: 4s linear infinite;
  -webkit-transform-origin: 50% -100px;
          transform-origin: 50% -100px;
  -webkit-animation-name: run, rotating;
          animation-name: run, rotating;
}
.track span:nth-child(2) {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}
.track span:nth-child(3) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}
@-webkit-keyframes run {
  0% {
    left: -5%;
  }
  10%,
  60% {
    left: calc((100% - 5%) / 2);
  }
  70%,
  100% {
    left: 100%;
  }
}
@keyframes run {
  0% {
    left: -5%;
  }
  10%,
  60% {
    left: calc((100% - 5%) / 2);
  }
  70%,
  100% {
    left: 100%;
  }
}

@-webkit-keyframes rotating {
  0%,
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60%,
  100% {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}

@keyframes rotating {
  0%,
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  60%,
  100% {
    -webkit-transform: rotate(-1turn);
            transform: rotate(-1turn);
  }
}
.cat {
  position: absolute;
  height: 120px;
  width: 100px;
  bottom: 0%;
  left: 30%;
  -webkit-animation: move 2s infinite alternate linear;
          animation: move 2s infinite alternate linear;
}
@-webkit-keyframes move {
  0% {
    left: 30%;
  }
  100% {
    left: 35%;
  }
}
@keyframes move {
  0% {
    left: 30%;
  }
  100% {
    left: 35%;
  }
}
.catface {
  position: absolute;
  height: 65px;
  width: 70px;
  border-radius: 30px;
  top: 5%;
  left: 13%;
  background: #fcc93d;
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.1);
}
.cathead {
  position: absolute;
  width: 5px;
  height: 15px;
  top: 1px;
  left: 23px;
  background: #b0881a;
  border-radius: 50%;
}
.cathead:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 15px;
  top: 0px;
  left: 23px;
  background: #b0881a;
  border-radius: 50%;
  z-index: 1;
}
.cathead:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 15px;
  top: 0px;
  left: 12px;
  background: #b0881a;
  border-radius: 50%;
  z-index: 2;
}
.shy {
  position: absolute;
  height: 10px;
  width: 15px;
  background: #fc9dad;
  border-radius: 50%;
  top: 45%;
  left: 10%;
}
.shy:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 15px;
  background: #fc9dad;
  border-radius: 50%;
  top: 0px;
  left: 40px;
  z-index: 1;
}
.cateye {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  top: 35%;
  left: 25%;
}
.cateye:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  left: 25px;
  z-index: 1;
}
.catnose {
  position: absolute;
  height: 6px;
  width: 8px;
  background: #ff8587;
  border-radius: 45%;
  top: 55%;
  left: 45%;
}
.catear {
  position: absolute;
  width: 0;
  height: 0;
  top: -3%;
  left: 17%;
  border-style: solid;
  border-width: 0 10px 25px 10px;
  border-color: transparent transparent #b0881a transparent;
  z-index: -1;
}
.catear:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 0px;
  left: 32px;
  border-style: solid;
  border-width: 0 10px 25px 10px;
  border-color: transparent transparent #b0881a transparent;
  z-index: -1;
}
.catmouth {
  position: absolute;
  top: 70%;
  left: 45%;
  width: 0;
  height: 0;
  border-style: solid;
  border-radius: 30px;
  border-width: 0 4px 6.9px 4px;
  border-color: transparent transparent #f22248 transparent;
}
.catbody {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 45px;
  height: 50px;
  border-radius: 30px 30px 10px 10px;
  background: #fcc93d;
  z-index: -3;
}
.catbody:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #fff;
  z-index: -2;
}
.cathand {
  position: absolute;
  bottom: 20px;
  left: -5px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #b0881a;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
}
.cathand2 {
  position: absolute;
  bottom: 20px;
  left: 40px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #b0881a;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}
.catleg {
  position: absolute;
  bottom: 0px;
  left: 28px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #b0881a;
  z-index: -4;
  -webkit-animation: walk 1s infinite linear;
          animation: walk 1s infinite linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.catleg2 {
  position: absolute;
  bottom: 0px;
  left: 58px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #b0881a;
  z-index: -4;
  -webkit-animation: walk 1s infinite linear;
          animation: walk 1s infinite linear;
}
@-webkit-keyframes walk {
  50% {
    bottom: 5px;
  }
}
@keyframes walk {
  50% {
    bottom: 5px;
  }
}
.bear {
  position: absolute;
  height: 120px;
  width: 100px;
  bottom: 0%;
  left: 20%;
}
.bearface {
  position: absolute;
  height: 65px;
  width: 70px;
  border-radius: 50px;
  top: 5%;
  left: 13%;
  background: #bd6904;
  box-shadow: inset 5px 5px rgba(0, 0, 0, 0.1);
}
.beareye {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  top: 25%;
  left: 25%;
}
.beareye:before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #000;
  border-radius: 50%;
  left: 25px;
  z-index: 1;
}
.bearnose {
  position: absolute;
  height: 6px;
  width: 8px;
  background: #000;
  border-radius: 45%;
  top: 35%;
  left: 45%;
}
.bearear {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5%;
  left: 13%;
  border-radius: 15px;
  background: #bd6904;
  z-index: -1;
}
.bearear:before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: 0;
  left: 45px;
  border-radius: 15px;
  background: #bd6904;
  z-index: -1;
}
.bearmouth {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 15px;
  height: 15px;
  background: red;
  box-shadow: inset 1px 10px rgba(0, 0, 0, 0.5);
  border-radius: 45%;
  -webkit-animation: wow 1.5s infinite linear;
          animation: wow 1.5s infinite linear;
}
@-webkit-keyframes wow {
  0% {
    -webkit-transform: scale(0.58);
            transform: scale(0.58);
  }
}
@keyframes wow {
  0% {
    -webkit-transform: scale(0.58);
            transform: scale(0.58);
  }
}
.bearbody {
  position: absolute;
  bottom: 15px;
  left: 25px;
  width: 45px;
  height: 50px;
  border-radius: 30px 30px 10px 10px;
  background: #bd6904;
  z-index: -3;
}
.bearbody:before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 8px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background: #fff;
  z-index: -2;
}
.bearhand {
  position: absolute;
  bottom: 30px;
  left: -10px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #bd6904;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}
.bearhand2 {
  position: absolute;
  bottom: 30px;
  left: 45px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #bd6904;
  -webkit-transform: rotate(-300deg);
          transform: rotate(-300deg);
}
.bearleg {
  position: absolute;
  bottom: 0px;
  left: 28px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #bd6904;
  z-index: -4;
}
.bearleg2 {
  position: absolute;
  bottom: 0px;
  left: 58px;
  width: 10px;
  height: 20px;
  border-radius: 30px;
  background: #bd6904;
  z-index: -4;
}
.giraffe {
  position: absolute;
  height: 200px;
  width: 100px;
  bottom: 0%;
  left: 10%;
}
.giraffeface {
  position: absolute;
  width: 60px;
  height: 45px;
  top: 10px;
  left: 23px;
  border-radius: 15px 20px 15px 15px;
  background: #f0e43e;
  box-shadow: inset 8px 5px rgba(0, 0, 0, 0.1);
}
.giraffeeye {
  position: absolute;
  height: 6px;
  width: 10px;
  background: #000;
  border-radius: 0 0 50% 50%;
  top: 30%;
  left: 35%;
}
.giraffeeye:before {
  content: "";
  position: absolute;
  height: 6px;
  width: 10px;
  background: #000;
  border-radius: 0 0 50% 50%;
  left: 25px;
  z-index: 1;
}
.giraffenose {
  position: absolute;
  height: 8px;
  width: 8px;
  background: #000;
  border-radius: 50%;
  top: 20px;
  left: 40px;
}
.giraffeear {
  position: absolute;
  width: 20px;
  height: 10px;
  top: 25px;
  left: 15px;
  -webkit-transform: rotate(-50deg);
          transform: rotate(-50deg);
  border-radius: 0 0 5px 5px;
  background: #cfa80e;
}
.giraffeear:before {
  content: "";
  position: absolute;
  width: 5px;
  height: 12px;
  top: -6px;
  left: 35px;
  background: #a8830a;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  border-radius: 5px;
  z-index: -3;
}
.giraffeear:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 12px;
  top: 5px;
  left: 45px;
  background: #a8830a;
  -webkit-transform: rotate(50deg);
          transform: rotate(50deg);
  border-radius: 5px;
  z-index: -3;
}
.giraffemouth {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-radius: 30px;
  border-width: 0 4px 6.9px 4px;
  border-color: transparent transparent #f22248 transparent;
}
.giraffebody {
  position: absolute;
  width: 30px;
  height: 165px;
  bottom: 0;
  left: 25px;
  background: #f0e43e;
  box-shadow: inset 10px 5px rgba(0, 0, 0, 0.1);
  z-index: -1;
}
.giraffebody:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 80px;
  bottom: 0;
  left: -80px;
  border-radius: 25px 0 0 0;
  background: #f0e43e;
  box-shadow: inset 10px 5px rgba(0, 0, 0, 0.1);
}
.giraffebody2 {
  position: absolute;
  width: 60px;
  height: 30px;
  bottom: 0;
  left: -40px;
  border-radius: 25px 0 0 0;
  background: #96e0da;
  box-shadow: inset 10px 5px rgba(0, 0, 0, 0.1);
}
.giraffebody2:before {
  content: "";
  position: absolute;
  width: 10px;
  height: 30px;
  bottom: 0;
  left: 75px;
  border-radius: 25px 0 0 0;
  background: #96e0da;
  box-shadow: inset 3px 5px rgba(0, 0, 0, 0.1);
}
.zzz {
  position: absolute;
  top: -50px;
  left: -50px;
  font-size: 50px;
  font-weight: bold;
  color: red;
  opacity: 0;
  -webkit-animation: zzz 1.5s infinite linear;
          animation: zzz 1.5s infinite linear;
}
@-webkit-keyframes zzz {
  0% {
    display: none;
    opacity: 0;
    top: 0px;
    left: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    display: block;
    opacity: 0.2;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes zzz {
  0% {
    display: none;
    opacity: 0;
    top: 0px;
    left: 0px;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    display: block;
    opacity: 0.2;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  100% {
    display: block;
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
